body{
   /* background-color: azure; */
    margin: 0px;
    padding: 0px;
}
.row-1{
    display:flex;
    background-color: rgb(230, 237, 233);
    position: sticky;
    top: 0px;
}
.col{
    /* border: 2px solid red; */
    height:30px;
    width:2000px;
    padding: 1%;
    
}
i{
    margin-left: 50px;
}

a{
    font-size: 20px;
    margin-left: 15px;
    color: black;
}
.a1{
    margin-left: 500px;
}
.row-2{
    background-image: url("./images/coo2.avif");
    background-size: cover;
    height: 800px;
    padding: 40px;
    display: flex;
    justify-content: space-around;  
    /* border: 2px solid red;  */
}
h1{
    text-align: center;
    font-size: 70px;
    color: white;
}
.head{
    font-size:30px;
    color: beige;
}
.col-1{
        /* border: 2px solid red; */
        margin-top: 200px;
        margin-right: 1000px;
        /* padding-top: 5%; */
         font-size: 30px;
         width: 1000px;
        
}
.col-2{
        /* border: 2px solid red; */
        height: 300px;
        width: 300px;
        padding-top:10% ;
}
img{
    width: 100%;
}
.row-3{
    text-align: center;
    background-color: rgb(253, 253, 251);
}
#d1{
    font-size: 100px;
    text-align: center;
    padding: 0px;
}
#d2{
    font-size: 50px;
    text-align: center;
    padding-top: 0px;
    
}
#d3{
    font-size: 30px;

}
.row-4{
    /* border: red 2px solid; */
    width: 1550px;
    height: 100px;
    padding: 30px;
} 
.col-3{
    width: 1680px;
    height: 70px;
    /* border: rgb(69, 185, 108) 2px solid; */
    text-align: center;
    font-size: 50px;
}
.fa-instagram{
    color: rgb(158, 37, 57);
}
.fa-square-facebook{
    color: rgb(13, 13, 161);
}
.fa-youtube{
    color: red;
}
.fa-twitter{
    color: rgb(46, 105, 222);
}
.fa-pinterest{
    color: red;
}
.col-4{
    display: flex;
    justify-content: space-around; 
}
.row-4{
    background-color: black;
    height: 500px;
    width: 100%;
}
.col-5{
    width: 250px;
    height: 250px;
    /* border: red 2px solid;  */
}
li{
  padding: 4px;
  color: grey;
}

.row-5{
    height: 2100px;
    width: 100%;
    /* border: 2px red solid; */
}
.cc{
    width: 100%;
    height: 700px;
    /* border: 2px red solid; */
    display: flex;
    justify-content: space-around;
    background-color: rgb(236, 226, 226);
}
.col-6{
    /* border: 2px red solid; */
    height: 500px;
    /* width: 300px; */
    margin-top: 100px;
    
}
.ii{
    height: 500px;
    width: 500px;
    /* margin-top: 200px; */
   /* padding: 50px; */
}
.cup{
    font-size: 24px;
    font-style: normal;
    width: 500px;
    word-spacing: 10px;
}
h3{
    font-size: 40px;
}
.ccc{
    height: 700px;
    width: 100%;
    /* border: 2px red solid; */
    display: flex;
    justify-content: space-around;
    background-color: rgb(93, 96, 99);
}
h4{
    color: black;
    font-size: 20px;
    background-color: rgb(93, 96, 99) ;
    padding: 0%;
}
.col-7{
    /* border: 2px red solid; */
    height: 400px;
    width: 200px;
    margin-top: 80px;
}
h5{
    font-size: 20px;
    text-align: center;
}
.iii{
    height: 300px;
    width: 200px;
}

button{
    border-radius: 40px;
    height: 50px;
    width: 100px;
    margin-left: 60px;
    margin-top: 20px;
    color:white;
    background-color:red;
}
.price{
    color: red;
    text-align: center;
    background-color: black;
    height: 20px;
}
